.resform-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.resform-button,
.admin-cancel {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: 500;
}

.resform-button {
  background-color: #3182ce;
  color: white;
}

.resform-button:hover {
  background-color: #2b6cb0;
}

.admin-cancel {
  background-color: #e53e3e;
  color: white;
}

.admin-cancel:hover {
  background-color: #c53030;
}

.home-button {
  position: static;
  background-color: #2ecc71;
}

.home-button:hover {
  background-color: #27ae60;
}

.resform-input {
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  width: 100%;
  background-color: white;
  color: #2d3748;
  font-size: 1rem;
}

.resform-input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
